<main>
  <div class="h-screen flex flex-col justify-center">

    <div>
      <h1 class="text-4xl text-white text-center mb-6">
        Une expertise pour donner vie à votre <span class="text-blue-600">projet</span>.
      </h1>
    </div>

    <div>
      <p class="text-slate-300 text-center mb-6">
       Elaborez la meilleure stratégie digitale pour votre entreprise à adopter pour répondre à votre besoin.
       Faites vous accompagner sereinement tout en vous focalisant sur la rentabilité de votre projet.
      </p>
    </div>

    <div class="flex justify-center">
      <button class="px-4 py-3 text-white rounded bg-blue-600 shadow-none hover:bg-blue-500 hover:duration-300 transition hover:shadow-sm">
        Nous Contacter
      </button>
    </div>

  </div>
</main>
