<main>
  <div class="w-11/12 md:w-1/2 mx-auto h-screen flex flex-col justify-center" data-controller="scroll-reveal">

    <div data-scroll-reveal-target="item" class="reveal">
      <h1 class="text-4xl text-white text-center mb-6">
        <span class="bg-gradient-to-r from-blue-600 to-purple-600 inline-block text-transparent bg-clip-text">#1344</span> Solutions - Agence Web
      </h1>
    </div>

    <div data-scroll-reveal-target="item" class="reveal" data-delay="250ms">
      <p class="text-slate-300 text-center mb-6">
        Donnez vie à votre projet web.
      </p>
    </div>

    <%= render 'contacts/contact-form' %>

  </div>
</main>
