@tailwind base;
@tailwind components;
@tailwind utilities;

/* quicksand */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@layer base {
  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/Quicksand-Regular.woff2) format('woff2');
  }
}

/* #################################################### */
/* STIMULUS scroll reveal */
.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: 1s cubic-bezier(0.5, 0, 0, 1);
  transition-property: opacity, transform;
}
.reveal.in {
  opacity: 1;
  transform: none;
}
/* #################################################### */

/* #################################################### */
/* STIMULUS DIALOG */
/* Prevent scrolling while dialog is open */
/* body:has(dialog[data-dialog-target='dialog'][open]) {
  overflow: hidden;
} */

/* Customize the dialog backdrop */
dialog {
  box-shadow: 0 0 0 100vw rgb(0 0 0 / 0.5);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Add animations */
dialog[data-dialog-target='dialog'][open] {
  animation: fade-in 200ms forwards;
}

dialog[data-dialog-target='dialog'][closing] {
  animation: fade-out 200ms forwards;
}
/* #################################################### */
